-batchmode 
+server.ip 45.32.246.224 
+server.port 28016 
+server.level "Procedural Map" 
+server.seed 2397157 
+server.worldsize 3000 
+server.maxplayers 100 
+server.hostname "[AU] DigitalPlay|2x|Monthly|Backpack|Trade|Loot+" 
+server.description "DigitalPlay Monthly Rust Server\n\n2x Gather Rates\nPlayer Trading\nBuilding and Level 1 Blueprints Unlocked\n42 Slot BackPack on Spawn\nBetterloot System\nMain Server & No Group Limits\nFast Smelt\nLong Days & Bright Nights" 
+server.url "http://www.digitalp.io" 
+server.headerimage "https://raw.githubusercontent.com/digital-play/general/master/images/digitalp/servers/rust_server_small.jpg" 
+server.identity "1447152" 
+rcon.ip 0.0.0.0 
+rcon.port 28018 
+rcon.password XXXXXXXX 
+rcon.web 1 
+query_port 28017 
+nav_disable true 
+backup 
+app.listenip XXX.XXX.XXX.XXX 
+app.publicip XXX.XXX.XXX.XXX
+app.port 28085 
-logfile "RustDedicated_Data\output.log" 
-nologs 
-load
